<a href="https://colab.research.google.com/github/va11h411a/Jobsheet-AI-course/blob/main/Jobsheet%204%20Pandas%20librarry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

df = pd.read_csv ('/content/data.csv')
print(df.to_string())

df
pd.options.display.max_rows
pd.options.display.max_rows = 9999

df = pd.read_csv ('/content/data.csv')
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [6]:
#Membaca Json
import pandas as pd

df = pd.read_json('/content/data.json')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [7]:
#Menggunakan parameter
import pandas as pd

df = pd.read_csv('/content/data.csv', sep=',', header=0)
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [9]:
#membaca costum data
import pandas as pd

data = {
    "Duration":{
      "0":60,
      "1":60,
      "2":60,
      "3":45
    },
    "Pulse":{
      "0":110,
      "1":117,
      "2":103,
      "3":109
    },
    "Maxpulse":{
      "0":130,
      "1":145,
      "2":135,
      "3":175
    },
    "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282
  }
}

df = pd.DataFrame(data)
print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282

In [10]:
#membuat dan mengakses elemen series

import pandas as pd

li = [1, 7, 2]
se = pd.Series(li)

print(se)

0    1
1    7
2    2
dtype: int64

In [11]:
#mengakses elemen series
import pandas as pd

li = [1, 7, 2]
se = pd.Series(li)

print(se[0])

1

In [13]:
#memberikan label pada series
import pandas as pd

li = [1, 7, 2]
se = pd.Series(li, index = ['x', 'y', 'z'])

print(se['x'])

1

In [14]:
#membuat series dari dictionary
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}
se = pd.Series(calories)

print(se)

day1    420
day2    380
day3    390
dtype: int64

In [15]:
#membuat dataframe
import pandas as pd

df = pd.DataFrame(data = {"Nama": ["Ali", "Pakas", "Deka"],
                          "Umur": [15, 16, 17],
                          "Kelas": [8, 9, 10]})
df.columns
df.columns.values[0] = "Nama Singkat"
df

data = {
  "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

df = pd.DataFrame(data)
df

   calories  duration
0       420        50
1       380        40
2       390        45

In [16]:
#Mengakses elemen pada dataframe


df.iloc[0:2, [0,1]]
df.iloc[0:2, 0:2]
df.iloc[:, 0:2]
df.loc[0:2, :'calories']
df.loc[0:2, ['calories', 'duration']]
df['calories']
df['calories'][0]
df[['calories']]
df[['calories']].loc[[0, 1]]

   calories
0       420
1       380

In [46]:
#Memberi nama pada index
data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)
df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [21]:
#melihat DataFrame
import pandas as pd

df = pd.read_csv('/content/data.csv')
df
df.head()
df.tail()
df.head(10)
df.shape
df.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [41]:
#Membaca informasi pada DataFrame #1

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            522 non-null    int64
 1   player_name   522 non-null    object
 2   games         522 non-null    int64
 3   time          522 non-null    int64
 4   goals         522 non-null    int64
 5   xG            522 non-null    float64
 6   assists       522 non-null    int64
 7   xA            522 non-null    float64
 8   shots         522 non-null    int64
 9   key_passes    522 non-null    int64
 10  yellow_cards  522 non-null    int64
 11  red_cards     522 non-null    int64
 12  position      522 non-null    object
 13  team_title    522 non-null    object
 14  npg           522 non-null    int64
 15  npxG          522 non-null    float64
 16  xGChain       522 non-null    float64
 17  xGBuildup     522 non-null    float64
dtypes: float64(5), int64(10), object(3)
memory usage: 73.5+ KB

In [43]:
#Membaca informasi pada DataFrame #2

df.describe()

,id,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,npg,npxG,xGChain,xGBuildup
count,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000
mean,4380.932950,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,1.668582,1.821450,5.663368,3.455060
std,3281.776121,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,2.909929,2.931176,5.600249,3.376584
min,65.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,839.750000,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,0.000000,0.074668,1.191391,0.720353
50%,4627.000000,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,0.500000,0.715585,4.252738,2.656397
75%,7690.500000,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,2.000000,1.945799,8.308002,5.254647
max,9552.000000,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,19.000000,19.130183,28.968234,18.323006

In [47]:
#Membaca informasi pada DataFrame #3

df['calories'].mean(), df['calories'].median(), df['calories'].mode()[0]

(np.float64(396.6666666666667), 390.0, np.int64(380))

In [49]:
#Membaca informasi pada DataFrame #4

df.corr()

          calories  duration
calories  1.000000  0.960769
duration  0.960769  1.000000

In [25]:
#Tugas praktikum - 1
import pandas as pd

df = pd.read_csv('/content/epl-goalScorer(20-21).csv')
print(df.to_string())

     Unnamed: 0    id                player_name  games  time  goals         xG  assists         xA  shots  key_passes  yellow_cards  red_cards position                     team_title  npg       npxG    xGChain  xGBuildup
0             0   647                 Harry Kane     35  3097     23  22.174859       14   7.577094    138          49             1          0        F                      Tottenham   19  19.130183  24.995648   4.451257
1             1  1250              Mohamed Salah     37  3085     22  20.250847        5   6.528526    126          55             0          0    F M S                      Liverpool   16  15.683834  28.968234   9.800236
2             2  1228            Bruno Fernandes     37  3117     18  16.019454       12  11.474996    121          95             6          0      M S              Manchester United    9   8.407840  26.911412  11.932285
3             3   453              Son Heung-Min     37  3139     17  11.023287       10   9.512992     68          75             0          0    F M S                      Tottenham   16  10.262118  20.671916   6.608751
4             4   822            Patrick Bamford     38  3085     17  18.401863        7   3.782247    107          30             3          0      F S                          Leeds   15  16.879525  23.394953   4.131796
5             5  5555      Dominic Calvert-Lewin     32  2788     16  18.136449        0   2.101819     82          18             3          0      F S                        Everton   16  18.136449  19.698850   4.159406
6             6   755                Jamie Vardy     34  2848     15  19.942946        9   5.087882     82          28             1          0      F S                      Leicester    7  13.092427  18.227907   2.412588
7             7  8865              Ollie Watkins     37  3330     14  16.280178        5   5.314029     98          45             2          1        F                    Aston Villa   13  14.757840  22.014021   5.334991
8             8   314             Ilkay Gndogan     28  2033     13   9.566883        2   3.816220     54          42             1          0      M S                Manchester City   12   8.044545  19.286812  10.148375
9             9  3277        Alexandre Lacazette     30  1928     13  12.028909        2   2.209213     45          22             3          0    F M S                        Arsenal   10   9.745403  14.361542   2.937941
10           10   468              Callum Wilson     26  2079     12  13.590091        5   3.046301     49          17             2          0      F S               Newcastle United    8  10.545416  14.205593   1.052545
11           11   620          Kelechi Iheanacho     25  1452     12   9.048596        2   3.534099     59          28             1          0      F S                      Leicester   12   8.287427  13.961564   3.429915
12           12   986                 Danny Ings     28  2115     12   8.139229        4   2.311231     56          22             1          0      F S                    Southampton   10   6.616892   9.929089   2.063256
13           13  4456                 Chris Wood     32  2675     12  12.896009        3   2.038118     69          23             0          0      F S                        Burnley   10  11.373671  13.585282   2.149852
14           14   522              Wilfried Zaha     30  2615     11   8.804440        2   3.702821     60          30             6          0    F M S                 Crystal Palace    9   7.282102  13.579472   3.634436
15           15   556            Marcus Rashford     37  2941     11   9.579710        9   4.185122     79          44             4          0    F M S              Manchester United   11   9.579710  20.441910   8.927208
16           16   838                 Sadio Man     35  2805     11  14.828548        7   7.787755     94          61             3          0    F M S                      Liverpool   11  14.828548  24.998923   6.057656
17           17  2251                Gareth Bale     20   909     11   5.797858        2   1.842241     38          21             1          0      M S                      Tottenham   11   5.797858   8.149641   2.594514
18           18  7153            Matheus Pereira     33  2594     11   6.948317        6   6.355539     65          58             2          1      M S           West Bromwich Albion    7   3.903641  10.857054   3.757924
19           19   318  Pierre-Emerick Aubameyang     28  2254     10  10.194089        3   2.352407     55          19             2          0    F M S                        Arsenal    8   8.671751  14.778998   3.955129
20           20   531            Michail Antonio     25  1923     10  14.138839        5   3.034945     63          25             3          0      F S                       West Ham   10  14.138839  18.998891   2.655064
21           21   606          Christian Benteke     30  1824     10   7.457401        1   0.697626     71          15             1          1      F S                 Crystal Palace   10   7.457401   8.472840   3.153554
22           22   618            Raheem Sterling     30  2449     10  11.763264        6   5.817096     68          35             3          0    F M S                Manchester City   10  11.002095  24.088666  11.477125
23           23  3294             Edinson Cavani     26  1355     10   8.603232        3   2.317244     34          14             4          0      F S              Manchester United   10   8.603232  12.259187   2.730645
24           24  5612             Anwar El Ghazi     28  1612     10   9.037518        0   1.882866     64          26             2          0    F M S                    Aston Villa    6   5.992842   7.845563   2.691346
25           25  8288               Tomas Soucek     37  3330     10   8.936490        1   2.329664     63          17             7          1        M                       West Ham   10   8.936490  16.730340   8.610449
26           26   482            Roberto Firmino     36  2882      9  12.860213        7   6.116863     83          44             2          0    F M S                      Liverpool    9  12.860213  25.271458  10.198550
27           27   558              Jesse Lingard     15  1344      9   5.095250        4   2.329288     39          18             3          0      F M                       West Ham    8   3.572913   9.868648   5.617283
28           28   750               Riyad Mahrez     26  1894      9   6.151046        5   5.954979     56          43             0          0    F M S                Manchester City    9   6.151046  18.641168   9.019600
29           29  6681              Harvey Barnes     25  1954      9   6.697320        4   1.771688     56          26             0          0    F M S                      Leicester    9   6.697320   8.893774   1.594841
30           30  6854                 Diogo Jota     19  1114      9   7.057721        0   1.762521     46          12             2          0    F M S                      Liverpool    9   7.057721  10.972975   4.076096
31           31  7700                  Che Adams     36  2685      9  12.118734        5   5.227754     55          37             1          0      F S                    Southampton    9  12.118734  14.486912   2.744624
32           32   843          James Ward-Prowse     37  3330      8   5.427161        7   3.956646     42          57             5          0      D M                    Southampton    5   2.382486  10.150620   8.928799
33           33  1776               Jarrod Bowen     37  2514      8   7.817086        5   4.952178     53          28             0          0    F M S                       West Ham    8   7.817086  14.000131   3.096995
34           34  3621                Neal Maupay     33  2526      8  13.773535        2   4.277408     71          32             1          1    F M S                       Brighton    5  10.728933  17.157539   3.381785
35           35  5543              Gabriel Jesus     28  1977      8   9.009614        4   3.371890     52          29             2          0    F M S                Manchester City    8   9.009614  16.564744   5.563635
36           36  5656               Nicolas Pepe     28  1512      8   5.811174        1   1.012160     43          11             1          1    F M S                        Arsenal    7   5.050005   9.170708   4.217726
37           37  6055                 Phil Foden     27  1548      8   5.437581        5   4.749281     43          36             0          0    F M S                Manchester City    8   5.437581  13.111077   5.408362
38           38  6630                Joe Willock     21  1215      8   5.088090        0   0.733701     23          10             1          0      M S       Arsenal,Newcastle United    8   4.326921   7.007069   2.987727
39           39  6818             James Maddison     31  2123      8   3.827570        5   5.386724     75          50             4          0      M S                      Leicester    8   3.827570  11.743431   6.073130
40           40  8718              Stuart Dallas     38  3412      8   4.457074        2   2.084683     48          26             7          0      D M                          Leeds    8   4.457074  18.534344  13.809802
41           41  8720              Jack Harrison     36  2871      8   6.254043        8   7.523059     46          59             2          0      M S                          Leeds    8   6.254043  19.397490   8.035575
42           42   695            Bertrand Traor     36  2362      7   6.304105        6   4.570988     64          35             1          0    F M S                    Aston Villa    7   6.304105   9.835355   1.332214
43           43  1389                   Jorginho     28  2022      7   6.972691        1   1.954869     14          24             2          0      M S                        Chelsea    0   0.122245  11.383730  10.878975
44           44  2381                    Rodrigo     26  1285      7   5.755642        2   3.200529     46          31             3          0    F M S                          Leeds    7   5.755642  10.815974   4.348653
45           45  6026                Richarlison     33  2803      7  10.427272        3   3.394761     78          25             3          1    F M S                        Everton    6   9.666103  15.678683   5.174453
46           46  6441              Ferrn Torres     23  1291      7   5.728708        2   2.202426     36          18             1          0    F M S                Manchester City    7   5.728708   9.768891   2.724257
47           47  7490            Mason Greenwood     31  1825      7   6.975748        2   2.427900     67          14             2          0    F M S              Manchester United    7   6.975748  14.031833   5.954059
48           48  7711           David McGoldrick     34  2319      7   7.383084        1   1.050454     65          16             7          0    F M S               Sheffield United    7   7.383084   9.682009   3.187532
49           49    65                Timo Werner     35  2605      6  13.432796        8   6.667277     80          36             2          0    F M S                        Chelsea    6  13.432796  20.533463   5.242122
50           50   501              Danny Welbeck     24  1551      6   7.380382        1   3.231367     35          22             0          0    F M S                       Brighton    6   6.619249  10.265667   1.476513
51           51   675              Jack Grealish     26  2187      6   5.192684       10   9.334137     50          81             5          0    F M S                    Aston Villa    6   5.192684  17.487469   6.972044
52           52   702              Tammy Abraham     22  1027      6   6.189151        1   0.721487     32           9             0          0      F S                        Chelsea    6   6.189151   7.901170   2.122328
53           53   714           Gylfi Sigurdsson     35  2189      6   5.620114        5   4.763621     46          43             2          0    F M S                        Everton    3   3.336608   8.377621   3.660514
54           54  2249            James Rodrguez     23  1802      6   3.363538        4   5.439712     37          40             4          0    F M S                        Everton    6   3.363538  12.033005   7.104181
55           55  5956            Youri Tielemans     38  3359      6   4.168204        4   3.312251     48          49             6          0      M S                      Leicester    4   2.645866  18.975342  14.945469
56           56  7768                Mason Mount     36  2891      6   6.884880        5   9.847691     82          87             2          0    F M S                        Chelsea    5   6.123712  21.696074  12.443149
57           57  8026                   Raphinha     30  2369      6   6.219143        9   9.524861     67          65             3          0      M S                          Leeds    6   6.219143  16.792778   6.679692
58           58   447            Kevin De Bruyne     24  1918      5   9.908440       11  10.003763     79          72             1          0      M S                Manchester City    3   7.624933  21.079132  10.636448
59           59   935                 Kurt Zouma     24  2024      5   3.136853        0   0.081467     27           4             3          0      D S                        Chelsea    5   3.136853   6.216146   6.133133
60           60  4476            Callum Robinson     28  1580      5   3.203063        0   1.049963     31          16             0          0    F M S           West Bromwich Albion    5   3.203063   5.216541   1.596336
61           61  6048                 Lewis Dunk     32  2844      5   2.699258        0   0.830638     31          10             5          2        D                       Brighton    5   2.699258   8.265678   7.870709
62           62  6382                 Pedro Neto     31  2570      5   5.494996        6   5.738268     62          61             4          0    F M S        Wolverhampton Wanderers    5   5.494996  11.516662   4.206935
63           63  6827                 Bobby Reid     33  2394      5   4.269852        2   1.309701     34          14             7          0  D F M S                         Fulham    5   4.269852   8.202645   3.131384
64           64  6853                Rben Neves     35  2591      5   4.715056        1   2.002833     65          32             7          0      M S        Wolverhampton Wanderers    2   2.431550   6.769232   4.476360
65           65  7322                Bukayo Saka     31  2561      5   7.169174        3   4.511791     61          38             1          0  D F M S                        Arsenal    5   7.169174  18.292466   9.180440
66           66  7698           Leandro Trossard     34  2601      5   5.412756        5   5.398416     58          51             2          0    F M S                       Brighton    5   5.412756  15.998935   7.631562
67           67    87                  Joelinton     31  2006      4   5.631002        2   2.366481     43          17             3          0    F M S               Newcastle United    3   4.869833   9.268311   3.284958
68           68   502             Olivier Giroud     17   750      4   5.070416        0   1.175799     29           6             1          0      F S                        Chelsea    4   5.070416   5.245491   1.711337
69           69   553            Anthony Martial     22  1494      4   7.405651        3   2.619803     42          17             0          1    F M S              Manchester United    4   7.405651  11.814813   3.319505
70           70   586                John Stones     21  1843      4   2.393954        0   0.046840     14           2             0          1        D                Manchester City    4   2.393954   9.842464   9.742795
71           71  2662          Christian Pulisic     27  1739      4   6.775412        2   2.761232     43          25             2          0    F M S                        Chelsea    4   6.775412  14.593858   7.101120
72           72  4105               Ral Jimnez     10   824      4   2.360910        0   0.632963     26           6             0          0        F        Wolverhampton Wanderers    4   2.360910   3.684076   1.233211
73           73  4381              Mateusz Klich     35  2404      4   2.999959        5   3.650850     36          44             6          0      M S                          Leeds    2   1.477621  14.608117  10.386438
74           74  5220                Kai Havertz     27  1523      4   6.352184        3   1.553382     33          18             2          0    F M S                        Chelsea    4   6.352184  10.382944   4.811911
75           75  5556            Ademola Lookman     34  2765      4   6.251116        4   5.258407     69          61             5          0    F M S                         Fulham    4   5.489947  15.355220   7.334159
76           76  5560            Scott McTominay     32  2121      4   1.847744        1   2.114613     26          17             3          0      M S              Manchester United    4   1.847744  10.912294   7.904810
77           77  6893           Stuart Armstrong     32  2701      4   2.562590        5   2.518058     51          33             3          0      M S                    Southampton    4   2.562590   9.479516   6.250184
78           78  7420             Miguel Almirn     34  2458      4   3.509382        1   3.135925     33          31             3          0    F M S               Newcastle United    4   3.509382   9.295024   3.899067
79           79  8706               Eberechi Eze     34  2570      4   2.494572        6   3.741962     37          42             3          0      M S                 Crystal Palace    4   2.494572   7.996477   3.959955
80           80  8778                Fabio Silva     31  1251      4   5.958539        2   1.035431     45          10             2          0      F S        Wolverhampton Wanderers    3   5.197370   4.897674   1.070238
81           81   101        Allan Saint-Maximin     25  1578      3   2.825913        4   4.013324     30          29             0          0    F M S               Newcastle United    3   2.825913  10.594720   4.224003
82           82   111         Jannik Vestergaard     29  2481      3   2.026947        0   0.740825     22           7             3          1      D S                    Southampton    3   2.026947   5.853649   5.778864
83           83   239                Pascal Gro     33  2379      3   5.010526        8   5.368290     32          69             3          0    D M S                       Brighton    0   1.965887  10.404419   6.732295
84           84   503               Theo Walcott     22  1660      3   2.280677        3   1.263103     29          17             0          0    F M S            Everton,Southampton    3   2.280677   5.551979   2.233550
85           85   528             Angelo Ogbonna     27  2403      3   1.696074        0   0.428471     13           4             5          0        D                       West Ham    3   1.696074   3.929544   3.707049
86           86   592               Ross Barkley     26  1574      3   3.699934        1   4.319003     39          40             0          0      M S            Aston Villa,Chelsea    3   3.699934   9.896903   3.717251
87           87   669            Ashley Westwood     37  3322      3   1.005990        3   6.352089     19          49             7          0        M                        Burnley    3   1.005990  10.010638   6.287275
88           88   773        Aleksandar Mitrovic     27  1369      3   5.677363        3   2.924711     59          23             3          0      F S                         Fulham    2   4.155025   7.808299   1.849482

In [32]:
import pandas as pd

# Load the data and drop the 'Unnamed: 0' column
df = pd.read_csv('/content/epl-goalScorer(20-21).csv')

# Drop the 'Unnamed: 0' column if it exists
df.drop(columns=['Unnamed: 0'], inplace=True)

# Display the first 5 rows
first_five_rows = df.head(5)
print(first_five_rows)

     id      player_name  games  time  goals         xG  assists         xA  \
0   647       Harry Kane     35  3097     23  22.174859       14   7.577094
1  1250    Mohamed Salah     37  3085     22  20.250847        5   6.528526
2  1228  Bruno Fernandes     37  3117     18  16.019454       12  11.474996
3   453    Son Heung-Min     37  3139     17  11.023287       10   9.512992
4   822  Patrick Bamford     38  3085     17  18.401863        7   3.782247

   shots  key_passes  yellow_cards  red_cards position         team_title  \
0    138          49             1          0        F          Tottenham
1    126          55             0          0    F M S          Liverpool
2    121          95             6          0      M S  Manchester United
3     68          75             0          0    F M S          Tottenham
4    107          30             3          0      F S              Leeds

   npg       npxG    xGChain  xGBuildup
0   19  19.130183  24.995648   4.451257
1   16  15.683834  28.968234   9.800236
2    9   8.407840  26.911412  11.932285
3   16  10.262118  20.671916   6.608751
4   15  16.879525  23.394953   4.131796

In [33]:
#Tugas Praktikum - 3
import pandas as pd

# Load the CSV file
df = pd.read_csv('/content/epl-goalScorer(20-21).csv')

# Drop the 'Unnamed: 0' column if it exists
df.drop(columns=['Unnamed: 0'], inplace=True)

# Get the number of rows and columns
rows, columns = df.shape

# Print the result
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 522
Number of columns: 18

In [52]:
#Tugas Praktikum - 4
import pandas as pd

df = pd.read_csv('/content/epl-goalScorer(20-21).csv')
print(df.dtypes)

data_types_count = df.dtypes.value_counts()
print(data_types_count)

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object
int64      11
float64     5
object      3
Name: count, dtype: int64

In [53]:
#Tugas Praktikum - 5

import pandas as pd

# Load the dataset
df = pd.read_csv('/content/epl-goalScorer(20-21).csv')

# Drop the 'Unnamed: 0' column if it exists
df.drop(columns=['Unnamed: 0'], inplace=True)

# 5. Display the total number of goals scored by each player
goals_per_player = df[['player_name', 'goals']].groupby('player_name').sum()
print("Jumlah goal yang dicetak setiap pemain:")
print(goals_per_player)

Jumlah goal yang dicetak setiap pemain:
                           goals
player_name
Aaron Connolly                 2
Aaron Cresswell                0
Aaron Ramsdale                 0
Aaron Wan-Bissaka              2
Abdoulaye Doucour             2
Aboubakar Kamara               0
Adam Lallana                   1
Adam Webster                   1
Adama Traor                   2
Ademola Lookman                4
Adrin                         0
Ahmed Elmohamady               0
Ahmed Hegazy                   0
Ainsley Maitland-Niles         0
Aleksandar Mitrovic            3
Alex Iwobi                     1
Alex McCarthy                  0
Alex Oxlade-Chamberlain        1
Alex Telles                    0
Alexandre Jankewitz            0
Alexandre Lacazette           13
Alexis Mac Allister            1
Alireza Jahanbakhsh            0
Alisson                        1
Allan                          0
Allan Saint-Maximin            3
Allan Tchaptchet               0
Alphonse Areola                0
Amad Diallo Traore             0
Andi Zeqiri                    0
Andreas Christensen            0
Andrew Robertson               1
Andriy Yarmolenko              0
Andros Townsend                1
Andr Gomes                    0
Andy Carroll                   1
Angelo Ogbonna                 3
Anthony Elanga                 0
Anthony Gordon                 0
Anthony Martial                4
Antonee Robinson               0
Antonio Rdiger                1
Antwoine Hackford              0
Anwar El Ghazi                10
Arthur Masuaku                 0
Ashley Barnes                  3
Ashley Westwood                3
Axel Tuanzebe                  0
Aymeric Laporte                0
Ayoze Prez                    2
Bailey Peacock-Farrell         0
Ben Chilwell                   3
Ben Davies                     0
Ben Godfrey                    0
Ben Johnson                    1
Ben Mee                        2
Ben Osborn                     1
Ben White                      0
Benjamin Mendy                 2
Bernard                        1
Bernardo                       0
Bernardo Silva                 2
Bernd Leno                     0
Bertrand Traor                7
Billy Gilmour                  0
Billy Sharp                    3
Bobby Reid                     5
Brandon Williams               0
Branislav Ivanovic             0
Bruno Fernandes               18
Bukayo Saka                    5
Caglar Sync                 1
Caleb Watts                    0
Callum Hudson-Odoi             2
Callum Robinson                5
Callum Wilson                 12
Calum Chambers                 0
Caoimhin Kelleher              0
Carlos Vinicius                1
Carney Chukwuemeka             0
Cengiz nder                   0
Cenk Tosun                     0
Charlie Austin                 0
Charlie Taylor                 0
Che Adams                      9
Cheikhou Kouyat               1
Chris Basham                   0
Chris Wood                    12
Christian Benteke             10
Christian Fuchs                0
Christian Pulisic              4
Ciaran Clark                   1
Conor Coady                    1
Conor Gallagher                2
Conor Hourihane                1
Conor Townsend                 0
Craig Dawson                   3
Curtis Jones                   1
Cdric Soares                  0
Csar Azpilicueta              1
Dale Stephens                  0
Dan Burn                       1
Dane Scarlett                  0
Dani Ceballos                  0
Daniel Amartey                 1
Daniel James                   3
Daniel Jebbison                1
Daniel N&#039;Lundulu          0
Daniel Podence                 3
Danny Ings                    12
Danny Welbeck                  6
Dara O&#039;Shea               0
Darnell Furlong                1
Darren Randolph                0
David Button                   0
David Luiz                     1
David McGoldrick               7
David de Gea                   0
Davinson Snchez               0
Davy Prpper                   0
DeAndre Yedlin                 0
Dean Henderson                 0
Declan Rice                    1
Dele Alli                      0
Demarai Gray                   0
Denis Odoi                     0
Dennis Praet                   1
Diego Llorente                 1
Diogo Jota                     9
Divock Origi                   0
Dominic Calvert-Lewin         16
Donny van de Beek              1
Douglas Luiz                   0
Dwight Gayle                   1
Dwight McNeil                  2
Eberechi Eze                   4
Eddie Nketiah                  2
Ederson                        0
Edinson Cavani                10
Edouard Mendy                  0
Elliot Anderson                0
Emerson                        0
Emil Krafth                    1
Emile Smith-Rowe               2
Emiliano Martinez              0
Enda Stevens                   0
Eric Bailly                    0
Eric Dier                      0
Eric Garcia                    0
Erik Lamela                    1
Erik Pieters                   0
Ethan Ampadu                   0
Ezgjan Alioski                 2
Ezri Konsa Ngoyo               2
Fabian Delph                   0
Fabian Schr                   1
Fabinho                        0
Fabio Carvalho                 1
Fabio Silva                    4
Fabin Balbuena                1
Federico Fernndez             0
Felipe Anderson                0
Femi Seriki                    0
Fernandinho                    0
Fernando Maral                0
Ferrn Torres                  7
Fikayo Tomori                  0
Filip Krovinovic               0
Franck Zambo                   0
Fraser Forster                 0
Fred                           1
Gabriel                        2
Gabriel Jesus                  8
Gabriel Martinelli             2
Gaetano Berardi                0
Gareth Bale                   11
Gary Cahill                    1
George Baldock                 0
Georginio Wijnaldum            2
Giovani Lo Celso               1
Grady Diangana                 1
Granit Xhaka                   1
Gylfi Sigurdsson               6
Hakim Ziyech                   2
Hal Robson-Kanu                2
Hamza Choudhury                0
Harrison Reed                  0
Harry Kane                    23
Harry Maguire                  2
Harry Winks                    0
Harvey Barnes                  9
Hugo Lloris                    0
Hctor Bellern                1
Hlder Costa                   3
Ian Poveda-Ocampo              0
Ibrahima Diallo                0
Iliman Ndiaye                  0
Ilkay Gndogan                13
Illan Meslier                  0
Isaac Hayden                   0
Islam Slimani                  0
Issa Diop                      2
Ivan Cavaleiro                 3
Jack Butland                   0
Jack Cork                      0
Jack Grealish                  6
Jack Harrison                  8
Jack O&#039;Connell            0
Jack Robinson                  0
Jack Stephens                  0
Jacob Murphy                   2
Jacob Ramsey                   0
Jaden Philogene-Bidace         0
Jairo Riedewald                2
Jake Livermore                 0
Jake Vokins                    0
Jakub Moder                    0
Jamaal Lascelles               2
Jamal Lewis                    0
James Justin                   2
James Maddison                 8
James McArthur                 0
James McCarthy                 0
James Milner                   0
James Rodrguez                6
James Tarkowski                1
James Tomkins                  0
James Ward-Prowse              8
Jamie Shackleton               0
Jamie Vardy                   15
Jan Bednarek                   1
Jannik Vestergaard             3
Japhet Tanganga                0
Jarrod Bowen                   8
Javier Manquillo               0
Jay Rodriguez                  1
Jayden Bogle                   2
Jayson Molumby                 0
Jean-Philippe Gbamin           0
Jean-Philippe Mateta           1
Jeff Hendrick                  2
Jeffrey Schlupp                2
Jesse Lingard                  9
Jimmy Dunne                    1
Joachim Andersen               1
Joe Bryan                      1
Joe Rodon                      0
Joe Willock                    8
Joel Matip                     1
Joel Mumbongo                  0
Joel Ward                      0
Joelinton                      4
Johann Berg Gudmundsson        2
John Egan                      0
John Fleck                     0
John Lundstram                 0
John McGinn                    3
John Ruddy                     0
John Stones                    4
Jonjo Shelvey                  1
Jonjoe Kenny                   0
Jonny                          0
Jonny Evans                    2
Jordan Ayew                    1
Jordan Henderson               1
Jordan Pickford                0
Jorginho                       7
Joseph Gomez                   0
Josh Benson                    0
Josh Brownhill                 0
Josh Maja                      3
Josh Onomah                    0
Joshua King                    0
Jos Izquierdo                 0
Joo Cancelo                   2
Joo Moutinho                  1
Joo Virgnia                  0
Jol Veltman                   1
Juan Mata                      0
Kai Havertz                    4
Kalvin Phillips                1
Kamil Grosicki                 0
Karl Darlow                    0
Karlan Grant                   1
Kasper Schmeichel              0
Kayne Ramsay                   0
Kean Bryan                     1
Keinan Davis                   1
Kelechi Iheanacho             12
Kenny Tete                     0
Kepa                           0
Kevin De Bruyne                5
Kevin Long                     0
Ki-Jana Hoever                 0
Kieran Gibbs                   0
Kieran Tierney                 1
Kiko Casilla                   0
Konstantinos Tsimikas          0
Kortney Hause                  1
Kurt Zouma                     5
Kyle Bartley                   3
Kyle Edwards                   0
Kyle Walker                    1
Kyle Walker-Peters             0
Leander Dendoncker             1
Leandro Trossard               5
Lee Peltier                    0
Leif Davis                     0
Lewis Dunk                     5
Lewis Richardson               0
Liam Cooper                    1
Liam Delap                     0
Lucas Digne                    0
Lucas Moura                    3
Luka Milivojevic               1
Lukasz Fabianski               0
Luke Ayling                    0
Luke Shaw                      1
Luke Thomas                    1
Lys Mousset                    0
Mamadou Sakho                  0
Manuel Lanzini                 1
Marc Albrighton                1
Marcos Alonso                  2
Marcus Rashford               11
Marek Rodk                    0
Mario Lemina                   1
Mark Noble                     0
Martin Dubravka                0
Martin Kelly                   0
Martin Odegaard                1
Marvelous Nakamba              0
Mason Greenwood                7
Mason Holgate                  1
Mason Mount                    6
Mat Ryan                       0
Matej Vydra                    3
Mateo Kovacic                  0
Mateusz Klich                  4
Matheus Pereira               11
Matt Doherty                   0
Matt Phillips                  2
Matt Ritchie                   0
Matt Targett                   0
Matthew Cash                   0
Matthew Longstaff              0
Matthew Lowton                 1
Max Kilman                     0
Max Lowe                       0
Maxime Le Marchand             0
Mbaye Diagne                   3
Michael Hector                 0
Michael Keane                  3
Michael Obafemi                0
Michail Antonio               10
Michy Batshuayi                2
Miguel Almirn                 4
Mohamed Elneny                 1
Mohamed Salah                 22
Mohammed Salisu                0
Moise Kean                     0
Morgan Gibbs-White             1
Morgan Sanson                  0
Moussa Djenepo                 1
Moussa Sissoko                 0
N&#039;Golo Kant              0
Naby Keita                     0
Nampalys Mendy                 0
Nathan Ak                     1
Nathan Broadhead               0
Nathan Redmond                 2
Nathan Tella                   1
Nathaniel Clyne                0
Nathaniel Phillips             1
Neal Maupay                    8
Neco Williams                  0
Neeskens Kebano                0
Neil Taylor                    0
Nemanja Matic                  0
Niall Huggins                  0
Nick Pope                      0
Nicolas Pepe                   8
Niels Nkounkou                 0
Nlson Semedo                  0
Odion Ighalo                   0
Okay Yokuslu                   0
Ola Aina                       2
Oleksandr Zinchenko            0
Oliver Burke                   1
Oliver McBurnie                1
Oliver Norwood                 0
Olivier Giroud                 4
Ollie Watkins                 14
Oriol Romeu                    1
Oskar Buur                     0
Owen Otasowie                  0
Ozan Kabak                     0
Pablo Fornals                  3
Pablo Hernndez                0
Pablo Mar                     0
Pascal Gro                    3
Pascal Struijk                 1
Patrick Bamford               17
Patrick Cutrone                0
Patrick van Aanholt            0
Paul Dummett                   1
Paul Pogba                     3
Pedro Neto                     5
Percy Tau                      0
Phil Bardsley                  0
Phil Foden                     8
Phil Jagielka                  0
Pierre-Emerick Aubameyang     10
Pierre-Emile Hjbjerg          2
Raheem Sterling               10
Raphinha                       6
Rayan Ait Nouri                1
Ral Jimnez                   4
Reda Khadra                    0
Reece James                    1
Reiss Nelson                   0
Rekeem Harper                  0
Rhian Brewster                 0
Rhys Williams                  0
Ricardo Pereira                0
Richarlison                    7
Riyad Mahrez                   9
Rob Holding                    0
Robbie Brady                   1
Robert Snodgrass               0
Robert Snchez                 0
Roberto Firmino                9
Robin Koch                     0
Robin Olsen                    0
Rodri                          2
Rodrigo                        7
Romain Saiss                   3
Romaine Sawyers                0
Ross Barkley                   3
Ruben Loftus-Cheek             1
Rui Patrcio                   0
Ryan Bertrand                  0
Ryan Fraser                    0
Ryan Fredericks                1
Rben Dias                     1
Rben Neves                    5
Rben Vinagre                  0
Rnar Alex Rnarsson           0
Sadio Man                    11
Said Benrahma                  1
Sam Field                      0
Sam Johnstone                  0
Sander Berge                   1
Scott Carson                   0
Scott Dann                     1
Scott McTominay                4
Sead Kolasinac                 0
Seamus Coleman                 0
Sean Longstaff                 0
Semi Ajayi                     2
Serge Aurier                   2
Sergio Agero                  2
Sergio Reguiln                0
Shane Long                     0
Shkodran Mustafi               0
Shola Shoretire                0
Sidnei Tavares                 0
Solly March                    2
Son Heung-Min                 17
Steven Alzate                  1
Steven Bergwijn                1
Stuart Armstrong               4
Stuart Dallas                  8
Sbastien Haller               3
Takumi Minamino                3
Tammy Abraham                  6
Tanguy NDombele Alvaro         3
Tariq Lamptey                  1
Terence Kongolo                0
Thakgalo Leshabela             0
Theo Corbeanu                  0
Theo Walcott                   3
Thiago Alcntara               1
Thiago Silva                   2
Thomas Partey                  0
Tim Ream                       0
Timo Werner                    6
Timothy Castagne               2
Timothy Fosu-Mensah            0
Toby Alderweireld              1
Tom Cairney                    1
Tom Davies                     0
Tomas Soucek                  10
Tosin Adarabioyo               0
Trent Alexander-Arnold         2
Trzguet                      2
Tyler Roberts                  1
Tyrese Francois                0
Tyrick Mitchell                1
Tyrone Mings                   2
Vicente Guaita                 0
Victor Lindelf                1
Virgil van Dijk                1
Vitinha                        0
Vladimir Coufal                0
Wes Morgan                     0
Wesley                         0
Wesley Fofana                  0
Wilfred Ndidi                  1
Wilfried Zaha                 11
Will Norris                    0
William Smallbone              0
Willian                        1
Willian Jos                   1
Willy Boly                     1
Willy Caballero                0
Xherdan Shaqiri                0
Yan Valery                     0
Yerry Mina                     2
Youri Tielemans                6
Yves Bissouma                  1
Zack Steffen                   0

In [60]:
#Tugas Praktikum - 6
# 6. Display a DataFrame consisting of player name, goals, position, team name, and yellow cards
player_stats = df[['player_name', 'goals', 'position', 'team_title', 'yellow_cards']]
print("\nDataFrame pemain dengan nama, goal, posisi, klub, dan jumlah kartu kuning:")
print(player_stats)

DataFrame pemain dengan nama, goal, posisi, klub, dan jumlah kartu kuning:
                   player_name  goals position                     team_title  \
0                   Harry Kane     23        F                      Tottenham
1                Mohamed Salah     22    F M S                      Liverpool
2              Bruno Fernandes     18      M S              Manchester United
3                Son Heung-Min     17    F M S                      Tottenham
4              Patrick Bamford     17      F S                          Leeds
5        Dominic Calvert-Lewin     16      F S                        Everton
6                  Jamie Vardy     15      F S                      Leicester
7                Ollie Watkins     14        F                    Aston Villa
8               Ilkay Gndogan     13      M S                Manchester City
9          Alexandre Lacazette     13    F M S                        Arsenal
10               Callum Wilson     12      F S               Newcastle United
11           Kelechi Iheanacho     12      F S                      Leicester
12                  Danny Ings     12      F S                    Southampton
13                  Chris Wood     12      F S                        Burnley
14               Wilfried Zaha     11    F M S                 Crystal Palace
15             Marcus Rashford     11    F M S              Manchester United
16                  Sadio Man     11    F M S                      Liverpool
17                 Gareth Bale     11      M S                      Tottenham
18             Matheus Pereira     11      M S           West Bromwich Albion
19   Pierre-Emerick Aubameyang     10    F M S                        Arsenal
20             Michail Antonio     10      F S                       West Ham
21           Christian Benteke     10      F S                 Crystal Palace
22             Raheem Sterling     10    F M S                Manchester City
23              Edinson Cavani     10      F S              Manchester United
24              Anwar El Ghazi     10    F M S                    Aston Villa
25                Tomas Soucek     10        M                       West Ham
26             Roberto Firmino      9    F M S                      Liverpool
27               Jesse Lingard      9      F M                       West Ham
28                Riyad Mahrez      9    F M S                Manchester City
29               Harvey Barnes      9    F M S                      Leicester
30                  Diogo Jota      9    F M S                      Liverpool
31                   Che Adams      9      F S                    Southampton
32           James Ward-Prowse      8      D M                    Southampton
33                Jarrod Bowen      8    F M S                       West Ham
34                 Neal Maupay      8    F M S                       Brighton
35               Gabriel Jesus      8    F M S                Manchester City
36                Nicolas Pepe      8    F M S                        Arsenal
37                  Phil Foden      8    F M S                Manchester City
38                 Joe Willock      8      M S       Arsenal,Newcastle United
39              James Maddison      8      M S                      Leicester
40               Stuart Dallas      8      D M                          Leeds
41               Jack Harrison      8      M S                          Leeds
42             Bertrand Traor      7    F M S                    Aston Villa
43                    Jorginho      7      M S                        Chelsea
44                     Rodrigo      7    F M S                          Leeds
45                 Richarlison      7    F M S                        Everton
46               Ferrn Torres      7    F M S                Manchester City
47             Mason Greenwood      7    F M S              Manchester United
48            David McGoldrick      7    F M S               Sheffield United
49                 Timo Werner      6    F M S                        Chelsea
50               Danny Welbeck      6    F M S                       Brighton
51               Jack Grealish      6    F M S                    Aston Villa
52               Tammy Abraham      6      F S                        Chelsea
53            Gylfi Sigurdsson      6    F M S                        Everton
54             James Rodrguez      6    F M S                        Everton
55             Youri Tielemans      6      M S                      Leicester
56                 Mason Mount      6    F M S                        Chelsea
57                    Raphinha      6      M S                          Leeds
58             Kevin De Bruyne      5      M S                Manchester City
59                  Kurt Zouma      5      D S                        Chelsea
60             Callum Robinson      5    F M S           West Bromwich Albion
61                  Lewis Dunk      5        D                       Brighton
62                  Pedro Neto      5    F M S        Wolverhampton Wanderers
63                  Bobby Reid      5  D F M S                         Fulham
64                 Rben Neves      5      M S        Wolverhampton Wanderers
65                 Bukayo Saka      5  D F M S                        Arsenal
66            Leandro Trossard      5    F M S                       Brighton
67                   Joelinton      4    F M S               Newcastle United
68              Olivier Giroud      4      F S                        Chelsea
69             Anthony Martial      4    F M S              Manchester United
70                 John Stones      4        D                Manchester City
71           Christian Pulisic      4    F M S                        Chelsea
72                Ral Jimnez      4        F        Wolverhampton Wanderers
73               Mateusz Klich      4      M S                          Leeds
74                 Kai Havertz      4    F M S                        Chelsea
75             Ademola Lookman      4    F M S                         Fulham
76             Scott McTominay      4      M S              Manchester United
77            Stuart Armstrong      4      M S                    Southampton
78              Miguel Almirn      4    F M S               Newcastle United
79                Eberechi Eze      4      M S                 Crystal Palace
80                 Fabio Silva      4      F S        Wolverhampton Wanderers
81         Allan Saint-Maximin      3    F M S               Newcastle United
82          Jannik Vestergaard      3      D S                    Southampton
83                 Pascal Gro      3    D M S                       Brighton
84                Theo Walcott      3    F M S            Everton,Southampton
85              Angelo Ogbonna      3        D                       West Ham
86                Ross Barkley      3      M S            Aston Villa,Chelsea
87             Ashley Westwood      3        M                        Burnley
88         Aleksandar Mitrovic      3      F S                         Fulham
89                Ben Chilwell      3      D M                        Chelsea
90                Craig Dawson      3        D                       West Ham
91                Kyle Bartley      3      D S           West Bromwich Albion
92                 Matej Vydra      3      F S                        Burnley
93               Michael Keane      3      D S                        Everton
94                  Paul Pogba      3      M S              Manchester United
95               Pablo Fornals      3    F M S                       West Ham
96                 Lucas Moura      3    F M S                      Tottenham
97                Hlder Costa      3      M S                          Leeds
98                Romain Saiss      3        D        Wolverhampton Wanderers
99              Ivan Cavaleiro      3  D F M S                         Fulham
100              Ashley Barnes      3    F M S                        Burnley
101                  Josh Maja      3      F S                         Fulham
102               Daniel James      3      M S              Manchester United
103     Tanguy NDombele Alvaro      3      M S                      Tottenham
104           Sbastien Haller      3      F S                       West Ham
105                Billy Sharp      3      F S               Sheffield United
106                John McGinn      3        M                    Aston Villa
107            Takumi Minamino      3    F M S          Liverpool,Southampton
108             Daniel Podence      3    F M S        Wolverhampton Wanderers
109               Mbaye Diagne      3      F S           West Bromwich Albion
110      Pierre-Emile Hjbjerg      2        M                      Tottenham
111              Sergio Agero      2    F M S                Manchester City
112                   Ola Aina      2      D M                         Fulham
113            Jeffrey Schlupp      2      M S                 Crystal Palace
114           Jamaal Lascelles      2        D               Newcastle United
115                Ayoze Prez      2    F M S                      Leicester
116        Georginio Wijnaldum      2      M S                      Liverpool
117             Nathan Redmond      2    F M S                    Southampton
118                Jonny Evans      2        D                      Leicester
119               Adama Traor      2  D F M S        Wolverhampton Wanderers
120               Tyrone Mings      2        D                    Aston Villa
121              Marcos Alonso      2      D S                        Chelsea
122                    Ben Mee      2        D                        Burnley
123    Johann Berg Gudmundsson      2      M S                        Burnley
124            Michy Batshuayi      2      F S                 Crystal Palace
125              Harry Maguire      2        D              Manchester United
126         Abdoulaye Doucour      2        M                        Everton
127              Matt Phillips      2      M S           West Bromwich Albion
128            Hal Robson-Kanu      2      F S           West Bromwich Albion
129              Jeff Hendrick      2      M S               Newcastle United
130     Trent Alexander-Arnold      2      D S                      Liverpool
131               Joo Cancelo      2    D M S                Manchester City
132                      Rodri      2      M S                Manchester City
133                  Issa Diop      2      D S                       West Ham
134               Thiago Silva      2        D                        Chelsea
135             Benjamin Mendy      2    D M S                Manchester City
136               Serge Aurier      2      D M                      Tottenham
137             Bernardo Silva      2    F M S                Manchester City
138                 Semi Ajayi      2      D S           West Bromwich Albion
139          Aaron Wan-Bissaka      2        D              Manchester United
140                    Gabriel      2      D S                        Arsenal
141            Jairo Riedewald      2      M S                 Crystal Palace
142                Solly March      2    D M S                       Brighton
143               Jacob Murphy      2    D M S               Newcastle United
144           Timothy Castagne      2      D M                      Leicester
145         Callum Hudson-Odoi      2  D F M S                        Chelsea
146              Eddie Nketiah      2      F S                        Arsenal
147                 Yerry Mina      2      D S                        Everton
148              Dwight McNeil      2      M S                        Burnley
149           Emile Smith-Rowe      2      M S                        Arsenal
150                  Trzguet      2    F M S                    Aston Villa
151           Ezri Konsa Ngoyo      2      D S                    Aston Villa
152         Gabriel Martinelli      2    F M S                        Arsenal
153               James Justin      2        D                      Leicester
154             Aaron Connolly      2    F M S                       Brighton
155             Ezgjan Alioski      2    D M S                          Leeds
156               Hakim Ziyech      2    F M S                        Chelsea
157            Conor Gallagher      2      M S           West Bromwich Albion
158               Jayden Bogle      2    D M S               Sheffield United
159               Fabian Schr      1      D S               Newcastle United
160               Granit Xhaka      1    D M S                        Arsenal
161           Thiago Alcntara      1      M S                      Liverpool
162                 Joel Matip      1      D S                      Liverpool
163               Adam Lallana      1    F M S                       Brighton
164            Hctor Bellern      1      D S                        Arsenal
165             Mohamed Elneny      1      M S                        Arsenal
166                 Alex Iwobi      1  D F M S                        Everton
167                 Scott Dann      1        D                 Crystal Palace
168           Cheikhou Kouyat      1    D M S                 Crystal Palace
169             Manuel Lanzini      1      M S                       West Ham
170               Andy Carroll      1      F S               Newcastle United
171                 Nathan Ak      1      D S                Manchester City
172           Jordan Henderson      1    D M S                      Liverpool
173                Kyle Walker      1      D S                Manchester City
174          Toby Alderweireld      1        D                      Tottenham
175                Erik Lamela      1    F M S                      Tottenham
176                Jordan Ayew      1    F M S                 Crystal Palace
177          Csar Azpilicueta      1      D S                        Chelsea
178         Ruben Loftus-Cheek      1    F M S                 Chelsea,Fulham
179                Gary Cahill      1        D                 Crystal Palace
180                    Willian      1    F M S                        Arsenal
181               Dwight Gayle      1      F S               Newcastle United
182            Marc Albrighton      1    D M S                      Leicester
183             Daniel Amartey      1      D S                      Leicester
184              Jonjo Shelvey      1      M S               Newcastle United
185            Andros Townsend      1    F M S                 Crystal Palace
186               Robbie Brady      1      M S                        Burnley
187            Virgil van Dijk      1        D                      Liverpool
188                Oriol Romeu      1        M                    Southampton
189              Jay Rodriguez      1    F M S                        Burnley
190               Paul Dummett      1      D S               Newcastle United
191               Ciaran Clark      1      D S               Newcastle United
192    Alex Oxlade-Chamberlain      1    F M S                      Liverpool
193              Mason Holgate      1    D M S                        Everton
194                  Luke Shaw      1      D S              Manchester United
195              Tyler Roberts      1    F M S                          Leeds
196               Keinan Davis      1      F S                    Aston Villa
197               Dennis Praet      1      M S                      Leicester
198                    Alisson      1       GK                      Liverpool
199               Mario Lemina      1    D M S                         Fulham
200                Emil Krafth      1      D S               Newcastle United
201             Matthew Lowton      1        D                        Burnley
202            James Tarkowski      1        D                        Burnley
203                 David Luiz      1      D S                        Arsenal
204           Andrew Robertson      1        D                      Liverpool
205            Oliver McBurnie      1      F S               Sheffield United
206            Antonio Rdiger      1        D                        Chelsea
207             Diego Llorente      1      D S                          Leeds
208               Willian Jos      1      F S        Wolverhampton Wanderers
209            Martin Odegaard      1      M S                        Arsenal
210              Joo Moutinho      1      M S        Wolverhampton Wanderers
211              Said Benrahma      1      M S                       West Ham
212            Darnell Furlong      1    D M S           West Bromwich Albion
213               Oliver Burke      1      F S               Sheffield United
214             Caglar Sync      1      D S                      Leicester
215              Wilfred Ndidi      1    D M S                      Leicester
216           Luka Milivojevic      1      M S                 Crystal Palace
217                Declan Rice      1        M                       West Ham
218              Yves Bissouma      1      M S                       Brighton
219           Giovani Lo Celso      1      M S                      Tottenham
220       Jean-Philippe Mateta      1      F S                 Crystal Palace
221               Jan Bednarek      1        D                    Southampton
222            Victor Lindelf      1        D              Manchester United
223           Joachim Andersen      1      D S                         Fulham
224                Ben Johnson      1    D M S                       West Ham
225             Grady Diangana      1    F M S           West Bromwich Albion
226               Curtis Jones      1      M S                      Liverpool
227            Rayan Ait Nouri      1    D M S        Wolverhampton Wanderers
228                       Fred      1      M S              Manchester United
229                  Joe Bryan      1    D M S                         Fulham
230                Tom Cairney      1      M S                         Fulham
231                 Willy Boly      1        D        Wolverhampton Wanderers
232                Conor Coady      1        D        Wolverhampton Wanderers
233         Morgan Gibbs-White      1    F M S        Wolverhampton Wanderers
234              Kortney Hause      1        D                    Aston Villa
235            Ryan Fredericks      1    D M S                       West Ham
236            Fabin Balbuena      1      D S                       West Ham
237                    Bernard      1    F M S                        Everton
238         Leander Dendoncker      1    D M S        Wolverhampton Wanderers
239                   Dan Burn      1    D M S                       Brighton
240               Karlan Grant      1    F M S           West Bromwich Albion
241            Carlos Vinicius      1      F S                      Tottenham
242               Adam Webster      1        D                       Brighton
243             Moussa Djenepo      1      M S                    Southampton
244                 Ben Osborn      1  D F M S               Sheffield United
245            Conor Hourihane      1      M S                    Aston Villa
246              Steven Alzate      1    D M S                       Brighton
247                Reece James      1    D M S                        Chelsea
248             Kieran Tierney      1      D S                        Arsenal
249            Tyrick Mitchell      1        D                 Crystal Palace
250              Tariq Lamptey      1      D M                       Brighton
251         Nathaniel Phillips      1      D S                      Liverpool
252               Sander Berge      1      M S               Sheffield United
253            Steven Bergwijn      1    F M S                      Tottenham

In [55]:
#Tugas Praktikum - 7
# 7. Display all players from the "Liverpool" club
liverpool_players = df[df['team_title'] == 'Liverpool']
print("\nPemain dari klub 'Liverpool':")
print(liverpool_players[['player_name', 'team_title']])

Pemain dari klub 'Liverpool':
                 player_name team_title
1              Mohamed Salah  Liverpool
16                Sadio Man  Liverpool
26           Roberto Firmino  Liverpool
30                Diogo Jota  Liverpool
116      Georginio Wijnaldum  Liverpool
130   Trent Alexander-Arnold  Liverpool
161         Thiago Alcntara  Liverpool
162               Joel Matip  Liverpool
172         Jordan Henderson  Liverpool
187          Virgil van Dijk  Liverpool
192  Alex Oxlade-Chamberlain  Liverpool
198                  Alisson  Liverpool
204         Andrew Robertson  Liverpool
226             Curtis Jones  Liverpool
251       Nathaniel Phillips  Liverpool
272             Divock Origi  Liverpool
274             James Milner  Liverpool
278                   Adrin  Liverpool
330          Xherdan Shaqiri  Liverpool
335             Joseph Gomez  Liverpool
375                  Fabinho  Liverpool
384               Naby Keita  Liverpool
436               Ozan Kabak  Liverpool
453        Caoimhin Kelleher  Liverpool
465            Neco Williams  Liverpool
487    Konstantinos Tsimikas  Liverpool
498            Rhys Williams  Liverpool

In [58]:
#Tugas Praktikum - 8
# 8. Display all players from the "Arsenal" club
arsenal_players = df[df['team_title'] == 'Arsenal']
print("\nPemain dari klub 'Arsenal':")
print(arsenal_players[['player_name', 'team_title']])

Pemain dari klub 'Arsenal':
                   player_name team_title
9          Alexandre Lacazette    Arsenal
19   Pierre-Emerick Aubameyang    Arsenal
36                Nicolas Pepe    Arsenal
65                 Bukayo Saka    Arsenal
140                    Gabriel    Arsenal
146              Eddie Nketiah    Arsenal
149           Emile Smith-Rowe    Arsenal
152         Gabriel Martinelli    Arsenal
160               Granit Xhaka    Arsenal
164            Hctor Bellern    Arsenal
165             Mohamed Elneny    Arsenal
180                    Willian    Arsenal
203                 David Luiz    Arsenal
209            Martin Odegaard    Arsenal
248             Kieran Tierney    Arsenal
267                 Bernd Leno    Arsenal
269             Sead Kolasinac    Arsenal
275             Calum Chambers    Arsenal
322              Cdric Soares    Arsenal
348           Shkodran Mustafi    Arsenal
354                Rob Holding    Arsenal
366              Thomas Partey    Arsenal
369              Dani Ceballos    Arsenal
412               Reiss Nelson    Arsenal
423       Rnar Alex Rnarsson    Arsenal
473                 Pablo Mar    Arsenal

In [57]:
#Tugas Praktikum - 9
# 9. Display the top 10 players with the most yellow cards
top_yellow_cards = df[['player_name', 'yellow_cards']].sort_values(by='yellow_cards', ascending=False).head(10)
print("\n10 pemain dengan jumlah kartu kuning terbanyak:")
print(top_yellow_cards)

10 pemain dengan jumlah kartu kuning terbanyak:
               player_name  yellow_cards
106            John McGinn            12
157        Conor Gallagher            11
125          Harry Maguire            11
259        Kalvin Phillips            10
110  Pierre-Emile Hjbjerg             9
216       Luka Milivojevic             8
397           Isaac Hayden             8
218          Yves Bissouma             8
448         John Lundstram             8
399           Douglas Luiz             8

In [56]:
#Tugas Praktikum - 10
# 10. Display the top 10 players with the most red cards
top_red_cards = df[['player_name', 'red_cards']].sort_values(by='red_cards', ascending=False).head(10)
print("\n10 pemain dengan jumlah kartu merah terbanyak:")
print(top_red_cards)

10 pemain dengan jumlah kartu merah terbanyak:
             player_name  red_cards
61            Lewis Dunk          2
488         Matthew Cash          1
493     Antonee Robinson          1
21     Christian Benteke          1
18       Matheus Pereira          1
476  Alexandre Jankewitz          1
25          Tomas Soucek          1
443            John Egan          1
433            Ben White          1
421         Matt Doherty          1